<!-- Footer-->
<footer class="py-3 bg-dark">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <div class="col-6 d-flex justify-content-start d-none d-md-block">
                <p class="m-0 text-white" style="font-size: 0.7rem;">
                    Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a>. 
                    <br>Bootstrap templates created by <a href="https://startbootstrap.com/" title="Start Bootstrap">Start Bootstrap</a>.
                    <br>
                    <!-- Hidden hit counter-->
                    <div id="counter" style="display: none;">
                        <img src="https://visitor-badge.glitch.me/badge?page_id=hackspace.mcast.edu.mt"/>
                    </div>
                </p>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-end">
                <a href="https://eskills.org.mt/"><img src="assets/eskills.webp" height="50"/></a>
            </div>
        </div>
    </div>
</footer>